
@import "tailwindcss";


@theme {
  --color-primary: #003459;
  --color-primary-40: #0078CD;
  --color-primary-60: #00528C;
  --color-primary-80: #002A48;

--color-secondary: #FCEED5;
 --color-secondary-40: #FCEED5;
  --color-secondary-60: #F1D092;
  --color-secondary-80: #EEC77E;
  --color-secondary-90: #FFB775;

}

